@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    background: #606C38;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px
}

h1 {
    font-size: 12em;
}

h3 {
    font-size: 3em;
}

.arrows{
    font-size:2em;
}

.container {
    background: #FEFAE0;
    width: 95vw;
    height: 95vh;
    max-width: 450px;
    max-height:800px;
    border-radius: 15px;
}

.mini-header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.main-score {    
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0px 40px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.score-container {

}