@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    background: #606C38;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p,span {
    padding: 0px;
    margin: 0px
}

h1 {
    font-size: 12em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.25em;
}

button.arrows {
    font-size:2em;
    color: #FEFAE0;
    background:#606C38;
    width: 2em;
    height: 2em;
    border-radius: 10px;
    border: 0px;
    margin-top: 25px;
}

span.inning-arrow {
    font-size: .5em;
    vertical-align: top;
}

#bottom-inning {
    display: none;
}

.disabled {
    opacity: 0.5;
}

.container {
    background: #FEFAE0;
    width: 95vw;
    height: 95vh;
    max-width: 450px;
    max-height:800px;
    border-radius: 15px;
}

.mini-header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    height:75px;
}

.main-score {    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 425px;
    padding: 0px 20px;
    text-align: center;
}

.count {
    display: flex;
    justify-content: space-around;
}